<div class="appLayout">
  <header style="float: initial; margin: 80px;">
      <img alt="logo" src="assets/img/planetExpressLogo.jpg" style="background-color: khaki; margin-right: 10%; width: 4%; float: left">
    <div>
      <h2>{{homeTitle | translate}}
        <button mat-raised-button color="primary" (click)="translateLanguage()" style="float: right" >{{translateBtnLabel | translate}}</button>
      </h2>
    </div>
  </header>
  <mat-card-content>
    <app-global-menu></app-global-menu>
  </mat-card-content>
</div>
