<app-menu-bar style="width:1200em !important;" [menuListItem]="getMenuListItems()" (menuItemClick)="onClickMenuItem($event)">
  <mat-tab-group  *ngIf="!orderMode">
    <mat-tab [label]="'HOME.TAB.ADMINISTRATION' | translate" style="position: sticky !important; top: 0; max-block-size: 700px" (click)="tabType = 'admin'">
      <app-car-part-administration>
      </app-car-part-administration>
    </mat-tab>
    <mat-tab [label]="'HOME.TAB.STORE' | translate">
      <app-part-store-view >
      </app-part-store-view>
    </mat-tab>
    <mat-tab [label]="'HOME.TAB.ADD' | translate" (click)="tabType = 'add'">
      <app-add-car-part></app-add-car-part>
    </mat-tab>
  </mat-tab-group>
  <app-part-order-page *ngIf="orderMode"></app-part-order-page>
</app-menu-bar>
